@inject IBoardService BoardService
@inject IPostService PostService
@inject NavigationManager NavMan

@page "/b/{BoardName}"

@if(_boardExists)
{
    <PageTitle>@BoardName</PageTitle>
    @if(_posts == null)
    {
        <p>Loading...</p>
    }
    else
    {
        int i = 0;
        @foreach (var p in _posts)
        {
            <PostElement Number="++i" Post="p"></PostElement>
        }
    }
}
else
{
    <h3>The board '<span class="font-monospace">@BoardName</span>' does not exist...</h3>
}



@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    [Parameter]
    public string BoardName { get; set; }

    Board _board;
    List<Post> _posts;
    bool _boardExists = true;
    bool _newPost = false;
    string _buttonText = "New post";

    protected override async Task OnParametersSetAsync()
    {
        var getBoard = await BoardService.GetBoardByNameAsync(BoardName);
        if(getBoard != null && getBoard.Success && getBoard.Data != null)
        {
            _board = getBoard.Data;
            if (Layout.CurrentBoard == null || Layout.CurrentBoard.Guid != _board.Guid)
            {
                Layout.CurrentBoard = _board;
            }

            var getPosts = await PostService.GetPostsByBoardGuidAsync(_board.Guid);
            if (getPosts != null && getPosts.Success && getPosts.Data != null)
            {
                _posts = getPosts.Data;
            }
        }
        else
        {
            _boardExists = false;
        }
    }

    async Task OnNewPost()
    {
        _newPost = !_newPost;
        _buttonText = _newPost ? "Cancel" : "New post";
    }
}
