@inject IUserService UserService
@inject IPostService PostService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavMan

<h3>New Post</h3>

@if (_user == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="_model" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="postTitle" class="form-label">Title</label>
            <InputText class="form-control" id="postTitle" @bind-Value="_model.Title"></InputText>
            <ValidationMessage For="() => _model.Title" />
        </div>
        <div class="mb-3">
            <label for="postLink" class="form-label">Link</label>
            <InputText class="form-control" id="postLink" @bind-Value="_model.Link"></InputText>
        </div>
        <div class="mb-3">
            <label for="postContent" class="form-label">Content</label>
            <InputTextArea class="form-control" id="postContent" @bind-Value="_model.Content"></InputTextArea>
        </div>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </EditForm>
    <p>@_message</p>
}


@code {
    [Parameter]
    public Guid BoardGuid { get; set; }
    PostNew _model = new();
    User? _user;
    string _message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var token = await LocalStorage.GetItemAsync<string>("authToken");
        var user = await UserService.GetUserByTokenAsync(token);
        if (user != null)
        {
            if (user.Success && user.Data != null)
            {
                _user = user.Data;
                _model.AuthorGuid = _user.Guid;
                _model.BoardGuid = BoardGuid;
            }
            else
            {
                _message = user.Message;
            }
        }
        else
        {
            _message = "You need to log in first, buddy...";
        }
    }

    async Task OnSubmit()
    {
        var result = await PostService.AddPostAsync(_model);
        if (result != null)
        {
            if (result.Success && result.Data != null)
            {
                _message = "Post added!";
                NavMan.NavigateTo(NavMan.Uri + "/comments/" + result.Data.HashId, true);
            }
            else
            {
                _message = result.Message;
            }
        }
        else
        {
            _message = "API call failed";
        }
    }
}
