@inject NavigationManager NavMan
@inject ICommentService CommentService

<EditForm Model="_model" OnValidSubmit="OnSubmit" class="w-50 mt-3 border border-1 border-secondary rounded-3">
    <DataAnnotationsValidator />
    <div class="m-3">
        <InputTextArea rows="5" class="form-control" id="content" @bind-Value="_model.Content"/>
    </div>
    <button class="btn btn-primary ms-3 mb-3" type="submit">Save</button>
    <button class="btn btn-primary ms-3 mb-3" @onclick="OnCancel">Cancel</button>
    <ValidationMessage For="() => _model.Content" />
</EditForm>
<p>@_message</p>

@code {
    [Parameter]
    public Post ParentPost { get; set; } = new();
    [Parameter]
    public Comment ParentComment { get; set; } = new();
    [Parameter]
    public User CommentAuthor { get; set; } = new();
    [Parameter]
    public EventCallback Cancel { get; set; }

    CommentNew _model = new();

    string _message = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        _model = new() { AuthorGuid = CommentAuthor.Guid, PostHash = ParentPost.HashId, ParentHash = ParentComment.HashId };
    }

    async Task OnSubmit()
    {
        var result = await CommentService.AddCommentAsync(_model);
        if (result != null)
        {
            if (result.Success && result.Data != null)
            {
                _message = "Comment posted!";
                NavMan.NavigateTo(NavMan.Uri, true);
            }
            else
            {
                _message = result.Message;
            }
        }
        else
        {
            _message = "API call failed.";
        }
    }

    async Task OnCancel()
    {
        await Cancel.InvokeAsync();
    }
}
