<div class="w-100 d-flex flex-column align-items-center col">
    <div class="d-inline-flex flex-row w-100 border border-1 border-secondary rounded-1 p-4 m-4">
        <div class="d-flex flex-column flex-fill">
            <h3 class="text-muted">about</h3>
            <a href="#" class="text-decoration-none">blog</a>
            <a href="#" class="text-decoration-none">about</a>
            <a href="#" class="text-decoration-none">advertising</a>
            <a href="#" class="text-decoration-none">careers</a>
        </div>
        <div class="d-flex flex-column flex-fill border-start border-1 border-secondary ps-3">
            <h3 class="text-muted">help</h3>
            <a href="#" class="text-decoration-none">site rules</a>
            <a href="#" class="text-decoration-none">help center</a>
            <a href="#" class="text-decoration-none">ettiquette</a>
            <a href="#" class="text-decoration-none">moderator guidelines</a>
            <a href="#" class="text-decoration-none">contact us</a>
        </div>
        <div class="d-flex flex-column flex-fill border-start border-1 border-secondary ps-3">
            <h3 class="text-muted">apps & tools</h3>
            <a href="#" class="text-decoration-none">iPhone app</a>
            <a href="#" class="text-decoration-none">Android app</a>
            <a href="#" class="text-decoration-none">mobile website</a>
        </div>
        <div class="d-flex flex-column flex-fill border-start border-1 border-secondary ps-3">
            <h3 class="text-muted">&lt;3</h3>
            <a href="#" class="text-decoration-none">premium</a>
            <a href="#" class="text-decoration-none">coins</a>
        </div>
    </div>
    <div class="d-inline-flex mb-5 flex-row">
        <div class="d-inline-flex flex-column align-items-center">
            <p class="d-inline-flex flex-row text-muted">Use of this site constitutes acceptance of our <a class="mx-1" href="#">User Agreement</a> and <a class="ms-1" href="#">Privacy Policy</a>. © 2023 <a href="https://redlabsolutions.net" class="text-muted"><span class="ms-1" style="color: red;">Red</span>lab Solutions</a>. All rights reserved.</p>
        </div>
    </div>
</div>

@code {

}
